*{
    font-family: "Helvetica Neue", sans-serif;
}

#banner {
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    height: 200px;
    max-width: 1200px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#content{

}
#navigation {
    background-color:  rgba(0,0,0,0.7) !important;
}
#navigation a{
    color: white;
}
#navigation span{
    color: white;
}

#navigation li div a{
    color: black;
}

.navbar-nav > li > a:hover {
    background-color: grey;
    border-radius: 10px;
}

.navbar-nav > li > span:hover {
    background-color: grey;
    border-radius: 10px;
}

body {
    background-color: midnightblue;
}

#platzhalter {
    height: 190px;
}

.container {
    background-color: white;
}

div.container.gesamt {
    max-width: 1200px;
    margin-bottom: 10pt;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("evGlasgow.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 0px;
}

#sponsoren {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.sponsor {
    margin-top: 0px;
    padding-top: 0px;
    min-width: 150px;
    max-width: 200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px;
}